DATABASE_URL=postgresql://neondb_owner:npg_b2p5FtGyNloX@ep-noisy-term-b2lgxht6-pooler.c-6.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AI_API_KEY=sk-VGbkSAQeJwZsJeg22XrTVjET1E8tYRiaeaopT5W5X9XVt8ql
AI_API_URL=https://api.x.ai/v1/chat/completions
AI_MODEL=grok-3-mini